<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="d-flex align-items-center">
      @if (!isLoggedIn) {
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/login']">
          Entrar
        </button>
        <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/register']">
          Criar conta
        </button>
      } @else {
        <button type="button" class="btn btn-link px-3 me-2" (click)="logout()">
          Deslogar
        </button>
      }
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
